.content{
    max-width: 100%;
    overflow: hidden;
}
header{
    max-width: 100%;
    height: 200px;
    border-bottom: 1px solid #ccc;
}
footer{
    width: 100%;
    border-top: 1px solid #7d7d7d;
}
.logo{
    height: 200px;
    font-family: 'Play', sans-serif;
    font-size: 18px;
}
.logoSentence{
    position: absolute;
    display: inline-block;
    margin: auto;
    top: 80px;
    left: 73px;
    line-height: 15px;
}
.logo>img{
    max-width:100%;
    max-height: 100%;
}
#navIcon{
    display: none;
}
.capitalLetter{
    text-transform: uppercase;
}
.center{
    text-align: center;
}
.nav{
    display: inline-block;
    position: relative;
    bottom: 0;
}
.nav-menu{
    margin-top: 150px;
}
.item>img{
    max-height: 450px;
}
.carousel-caption>h3{
    background: rgba(0, 0, 0, 0.5);
}
.carousel-indicators li {
    border: 1px solid #000;
}
#logoCorp{
    text-align: center;
    
}
#logoCorp>img{
    margin: 0 20px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    -webkit-transition: 2s;
       -moz-transition: 2s;
        -ms-transition: 2s;
         -o-transition: 2s;
            transition: 2s;
}
#logoCorp>img:hover{
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}
.logoInFooter{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.logoInFooter>img{
    margin: 10px 0 0 10px;
    height: 80px;
    width: 80px;
}
.logoInFooter>span{
    font-family: 'Play', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #7d7d7d;
}
.copyright{
    padding: 10px 50px;
    background: #ccc;
}
.contactUs{
    margin-top: 20px;
}
.contactUs>li{
    display: inline-block;
    float: left;
    line-height: 1.1;
    padding-left: 50px;
    background: url("../img/icon/icon-phone.png") no-repeat;
}
.contactUs>li:nth-child(2){
    margin-left: 25px;
}
.contactUs>li>span{
    font-size: 18px;
}
.contactUs>li>p{
    color: #7d7d7d;
}
.contactAddress{
    padding-left: 0px;
    margin-top: 20px;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}
.contactAddress>li>span{
    font-size: 16px;
    color: #7d7d7d;
}
.contactOffise{
    display: inline;
    width: 300px;
    float: left;
}
.contactOffise>li>span{
    margin-left: 10px;
}
.contactOffise>li{
    font-size: 18px;
    display: block;
    width: 300px;
    line-height: 35px;
}
.contactOffise>li>i{
    width: 20px;
    color: #00004f;
}
#mapOffice{
    float: right;
    display: inline;
    // margin-left: 350px;
    background: #ccc;
}
.contactSection{
    margin-bottom: 40px;
}
.formHeading{
    font-size: 20px;
    font-weight: 400;
}
#feedback{
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.cont-submit{
    margin: 5px auto;
    display: block;
}
.g-recaptcha{
    display: inline-block;
    margin: 5px 5px 5px 40px;
}
#auth>div{
    margin-top: 100px;
    border: 1px solid #ddd;
    -webkit-border-radius: 8px;
            border-radius: 8px;
}
/*                            C-PANEL                           */
.admin-menu{
    margin-top: 0;
}
.welcome{
    float: left;
    right: 0;
}
.admin-logo>img{
    height: 100px;
    -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
}
.adm-nav{
    // position: fixed;
    padding: 20px;
    background: #3d3d3d;
    color: #FFF;
    height: calc(100vh - 101px);
}
.adm-nav>li{
    list-style: none;
    font-weight: 600;
}
.adm-nav>ul{
    padding-left: 20px;
}
.adm-nav>ul>li{
    list-style: none;
}
.work-spaces{
    
}
.edit-section{
    margin: 5px 0;
    padding: 20px;
    border: 1px solid #000;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    background-color: #9d9d9d;
}
.input-btn{
    
}
.goods-item{
    margin: 15px;
    display: block;
    width: 220px;
    height: 380px;
    position: relative;
    padding: 10px;
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    list-style-type: none;
}
.img-goods{
    width: 200px;
    height: 150px;
}
.have1{
    color: rgb(80, 180, 80);
}
.have0{
    color: rgb(180, 80, 80);
}
.price{
    line-height: 37px;
    padding: 8px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: rgba(65, 145, 255, 0.9);
}
.price-block{
    bottom: 0;
    position: absolute;
}
/*                            END C-PANEL                           */